* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    padding: 1rem 0;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between; /*flexbox to space out header content*/
    align-items: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.1rem;
}

.hero {
    background: #f4f4f4;
    padding: 2rem 0;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.2rem;
    color: white;
    background-color: #4CAF50;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 1rem;
}

section {
    padding: 2rem 0;
    text-align: center;
}

section h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer p {
    margin: 0.5rem 0;
}


.button {
    padding: 10px 20px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}


header nav {
    display: flex;
    align-items: center;
}

header nav .button {
    margin-left: 10px;
}

.signup {
    background-color: #007bff;
	border-radius: 10px;
	padding: 10px 20px;

}

.login {
	border-radius: 10px;
    background-color: #007bff;
	padding: 10px 20px;
}

.login:hover {
    background-color: #0056b3;
}

.signup:hover {
    background-color: #0056b3;
}
